<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Irakli.Properties.Settings.myDataBaseConnectionString"
            connectionString="Data Source=SKRILLEX-PC;Initial Catalog=myDataBase;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>